{% extends 'main/layout.html' %}
{% block title %}Create Account{% endblock %}

{% block body %}
<div class="col-9 mx-auto pt-5 mt-5 w-100 align-self-center">
    <div class="card p-5 my-auto" style="width: 80%; margin: auto; box-shadow: 5px 5px 5px LightGray;">
        <h2 class="card-title pl-5">Create Account</h2>
        <form class="form-block" action="{% url 'users:new' %}" method="post">
            {% csrf_token %}
            <div class="col-9 mx-auto p-3">
                <div class="row p-2">
                    <div class="col-2">{{ form.first.label_tag }}</div>
                    <div class="col-4">{{ form.first }}</div>
                    <div class="col-2">{{ form.last.label_tag }}</div>
                    <div class="col-4">{{ form.last }}</div>
                </div>
                <div class="row p-2">
                    <div class="col-2">{{ form.username.label_tag }}</div>
                    <div class="col-4">{{ form.username }}</div>
                </div>
                <div class="row p-2">
                    <div class="col-2">{{ form.password.label_tag }}</div>
                    <div class="col-4">{{ form.password }}</div>
                </div>
                <div class="row p-2">
                    <div class="col-2">{{ form.email.label_tag }}</div>
                    <div class="col-4">{{ form.email }}</div>
                </div><br><br>
                <input type="submit" value="Create Account">
            </div>
        </form>
    </div>
</div>
{% endblock %}