<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navbar bg-dark navbar-dark justify-content-between">
        <a class="navbar-brand" href="{% url 'main:index' %}">Home</a>
        <div class="justify-self-right my-2 text-right">{% include "users/index.html" %}</div>
    </div>
    <div class="row w-100 h-100 mx-auto align-items-center">
    {% block body %}
    {% endblock %}
    </div>
</body>
</html>